@using UML.Models
@{
    ViewData["Title"] = "Saved Diagrams";
}
@model UserModel
<div>
    <input type="button" value="NEW" onclick="@("window.location.href='" + @Url.Action("index", "Editor", new {_id = Model._id, Username = Model.Username, Password = Model.Password}) + "'");" />
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Diagram Name</th>
                <th scope="col">Enter Diagram</th>
            </tr>
        </thead>

    
    
        @{
            if (Model.Diagrams != null)
            {            
                foreach (var item in Model.Diagrams)
                {
                    <tbody>
                        <tr>
                            <td scope="row">@item.Name</td>
                            <td scope="row"><input type="button" value="Edit" onclick="@("window.location.href='" + 
                            // need to get the link to give the data to the editor index page
                            @Url.Action("index", "Editor", new {_id = Model._id, Username = Model.Username, DiagramName = item.Name}) + "'");" /></td> 
                        </tr>
                    </tbody>
                }
            }
            else
            {
                <span> No diagrams yet, click NEW to get started</span>
            }
        }
    </table>
</div>
